
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Lora');


html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       13px;
  --aside-size:      12px;
  --fig-cap-size:    12px;
  /*-- Main font colors --*/
  --title-color:     rgba(0, 129, 167, 1);
  --header-color:    rgba(0, 129, 167, 1);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  --hover-color:     rgba(0, 129, 167, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Lato", sans-serif;
  --body-font:       "Lora", serif;
  --navbar-font:     "Lato", sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --font-family:      'Lato', sans-serif;
  --title-size:       21px;
  --text-color:       rgba(0, 129, 167, 1);
  --text-size:        18px;
  --hover-color:      rgba(0, 129, 167, 0.6);
  --bkgd-color:       rgba(255, 255, 255, 0.8);
  font-variant:       small-caps;
}

.nav-dropdown .nav-dropbtn {
  font-variant: small-caps;
}

.distill-site-footer {
  --text-color:       rgba(10, 10, 10, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       rgba(240, 240, 240, 0.8); 
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

/* Postcard headers */
h1, h2, h3 {
  color:              rgba(0, 129, 167, 1);
  font-variant:       small-caps;
}

p {
  color:              rgba(0, 0, 0, 0.8);
}

a {
	color:              rgba(0, 129, 167, 1);
}

a:hover {
	color:              rgba(0, 129, 167, 0.6);
}

/* Buttons on postcard */
.btn-outline-dark {
    color:            rgba(0, 129, 167, 1);
    border-color:     rgba(0, 129, 167, 1);
}

.btn-outline-dark:hover {
    background-color: rgba(0, 129, 167, 1);
    color:            white;
}

/*body {
  background-color: rgba(249, 250, 247, 0.8);
}*/
